#container{
     display:flex;
     align-items: center;
     flex-direction: column;

    }
    .imagem{
     background-image: url(../../assets//img.png);
     background-size: cover;
     height: 1000px;
     width: 100%;
     display: flex;
    align-items: center;
    justify-content: center;
    }
   
    .containerTextInitial{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 700px;
    position: relative;
    }
    h2.textoImgCaps{
      color: #fff;
    font-family: "Poppins",Sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -1.5px;
    text-shadow: 0px 0px 10px #101010;
    position: relative;
    margin-left:15vh;
      top:20vh;
      
     }
    h2.textoImg{
     position: relative;
     top:22vh;
     color: #D3D3D3;
     font-family: "Barlow", Sans-serif;
     font-size: 20px;
     font-weight: 400;
     line-height: 25px;
     margin-left:15vh;
    }
    h2.textoImg1{
      font-size: 22px;
      position: relative;
      padding:10vh;
      color:aliceblue;
      right:9vh;
     }
  .button1{
    background-color: #8a4a26;
    border-radius: 10vh;
    width: 30vh;
    height: 5vh;
    position: relative;
    top:35vh;
    margin-left: 20vh;
    font-family: "NEUSHARP", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2.2px;
    color:whitesmoke;
  }
  .button1:hover{
    background-color: #1c252b;

  }

    .containerForm{
      width: 100%;
      background-color: #1c252b;
        padding: 40px;
       position: relative;
       
    }

.containerEquipe {
  height: 1000px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #1c252b; 

}
.containerEquipeText{
  position: relative;
 left:70vh;
 top:-50vh;
 display: flex;
 align-items: center;
 justify-content: center;
}
h3.textTime{
  color: #d58300;
    font-family: "Poppins",Sans-serif;
    font-size: 25px;
    font-weight: 400;
    position: relative;
    top:15vh;
    left:25vh
}
h2.textTime{
  color: #fff;
    font-family: "Poppins",Sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3em;
    position: relative;
    top:20vh;
   
}



h3.title {
  color: white;
  font-weight: 300;
  position: absolute;
  top:35vh;
  margin-left: 10vh;
}
h4.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 30vh;
  padding-left:7vh;
  width: 20vh;
  
}


.imgEquipeR {
  position: absolute;
  top: 350px;
  background-image: url('/src/assets/imgEquipeR.png');
  background-size: 100%;
  border-radius: 10px;
  height:250px;
  width: 250px;
  left:20vh
  
  
}
.imgEquipeG {
  position: absolute;
  background-image: url('/src/assets/imgEquipeG.png');
  top: 350px;
  background-size: 100%;
  border-radius: 10px;
  height:250px;
  width: 250px;
  left: 50vh;
  
}
.imgEquipeJ {
  position: absolute;
  top: 350px;
  background-image: url('/src/assets/imgEquipeJ.png');
  background-size: 100%;
  border-radius: 10px;
  height:250px;
  width: 250px;
  left: 80vh;
}
.imgEquipeE {
  position: absolute;
  top: 350px;
  background-image: url('/src/assets/imgEquipeE.png');
  background-size: 100%;
  border-radius: 10px;
  height:250px;
  width: 250px;
  left: 110vh;
  
}
.imgEquipeM {
  position: absolute;
  top: 350px;
  background-image: url('/src/assets/imgEquipeM.png');
  background-size: 100%;
  border-radius: 10px;
  height:250px;
  width: 250px;
  left: 140vh;
  
}
  h4.title{
    padding-top: 35px;
  }
  
 
  .containerPatrocionio{
    width: 100%;
  }
  .titlePatrocinio{
    display: flex;
    align-items: center;
    color:#ffff;
    align-items: center;
    justify-content: center;
    font-family: "Poppins",Sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3em;
    
  }
  
  @mixin white-gradient {
    background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  }
  
  $animationSpeed: 40s;
  
  // Animation
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7))}
  }
  
  
  // Styling
  .slider {
    background: #1c252b;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 50vh;
    margin: auto;
    overflow:hidden;
    position: relative;
    width: 100%;
    position: relative;
    top: 50vh;
  
    
    &::before,
    &::after {
      @include white-gradient;
      content: "";
      height: 100px;
      position: absolute;
      width: 200px;
      z-index: 2;
      top: 50vh;
    }
    
    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
      top: 50vh;
    }
  
    &::before {
      left: 0;
      top: 0;
      top: 50vh;
    }
    
    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(250px * 14);
      margin-top: 10vh;
    }
    
    .slide {
      height: 100px;
      width: 250px;
    }
  }


  .divPortifolio{ 
    background-color:#1c252b ;
    height: 600px;
    width:100%;
    display: flex;
    align-items:center;
    justify-content: center;
    

  }
  .textPortifolio1{
    color: #d4911b;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    position: relative;
    top:100px;
    left:200px

  }
  .textPortifolio2{
    color: #d4d5e2;
    font-family: "Poppins",Sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3em;
    text-align: center;
    position: relative;
   
    top:160px
  }

.divTrabalhos{
  display:flex;
  position: relative;
  padding: 30px;
  width: 100%;
  height: 60vh;
  background-color: #1c252b;
  align-items: center;
  justify-content: center;
}
.workTransition{
  animation-name: animation2;
  animation-duration: 20s;
  width: 30%;
  height: 50vh;
  position: relative;
  animation-direction:  alternate;
  animation-fill-mode: backwards;
  background-image: url(/src/assets/mama.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation-delay: 2s;
  animation-iteration-count: infinite;

}
@keyframes animation2{
  0%{
    
    background-image: url(/src/assets/pizza1.png);
  }
  25%{
   
    background-image: url(/src/assets/pizza2.png);
  }
  50%{
    background-image: url(/src/assets/pizza3.png);
  }
  75%{
    
    background-image: url(/src/assets/pizza4.png);
  }
  100%{
    background-image: url(/src/assets/notebook.png);
  }
}
.divsText5{
  background-color: #1c252b;
  
}

h3.text5{
  color: #d58300;
    font-family: "Poppins",Sans-serif;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    display: flex;
}
h2.text5{
  color: #fff;
  font-family: "Poppins",Sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divsText6{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #1c252b;
}



.div1{
  padding: 10vh;
}
h4.text6{
  color: #7a7a7a;
  font-family: "Poppins",Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
  letter-spacing: .3px;
}
h3.text6{
  color: whitesmoke;
  font-size: 18px;
  font-weight: 700;
}
h3.text6Name{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}
h4.text6Name{
  display: flex;
  align-items: center;
  justify-content: center;
}
