.container{
     display:flex;
     align-items: center;
     flex-direction: column;
    }
    .imagem{
     background-image: url(../../assets//img.png);
     background-size: cover;
     height: 1000px;
     width: 100%;
     
     
    }
    h1.textoImgCaps{
     font-size: 60px;
     font-family: 'Roboto', sans-serif;
     font-family: 'Ubuntu', sans-serif;
     position: relative;
     top:240px;
     left:500px;
     color:aliceblue;
     padding:25px;
    }
    h2.textoImg{
     font-size: 22px;
     text-align: center;
     position: relative;
     top:250px;
     color:aliceblue
    }
    .buttonInitial{
     background-color: #FF7B00FA; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
   border-radius: 20px;
   position: relative;
   top:50px;
   right:820px
    }
    h2.textSecond{
     color: #D58300;
     padding-top: 30px;
    }
    h1.textSecond{
     font-size:45px
    }
    h4.textSecond{
     color:#7A7A7A;
     font-family: 'Roboto', sans-serif;
    }
    h3.textSecond{
     color:#7A7A7A
    }

  .engrenagem{
     left:200px;
  }