.container{
     display:flex;
     align-items: center;
     flex-direction: column;
    }
    .imagem{
     background-image: url(../../assets//img.png);
     background-size: cover;
     height: 1000px;
     width: 100%;
     
     
    }
    h1.textoImgCaps{
     font-size: 60px;
     font-family: 'Roboto', sans-serif;
     font-family: 'Ubuntu', sans-serif;
     position: relative;
     top:240px;
     left:50px;
     color:aliceblue;
     padding:25px;
    }
    h2.textoImg{
     font-size: 22px;
     padding-left: 50px;
     position: relative;
     top:250px;
     color:aliceblue
    }

    .buttonInitial{
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
   border-radius: 20px;
   position: relative;
   
   text-decoration: none;
   transition: all .3s;
      font-family: sans-serif;
      border-bottom-color: rgb(0, 0, 0);
      text-shadow: 1px 1px #1f272b;
      border: 1px solid #1c252b;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#657179), color-stop(4%,#e4944afa), color-stop(100%,#8d4909fa));
      margin-bottom: 20px;
    }

    .buttonInitial:hover {    
      color: whitesmoke;
      letter-spacing: 1.3px;
      box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      transition: all .3s;
      
    }

    .button2 {
      border-radius: 20px;
      padding: 15px;
      text-decoration: none;
      transition: all .3s;
      font-family: sans-serif;
      border-bottom-color: rgb(0, 0, 0);
      outline: 0;
      display: block;
      color: whitesmoke;
      text-shadow: 1px 1px #1f272b;
      border: 1px solid #1c252b;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#657179), color-stop(4%,#e4944afa), color-stop(100%,#8d4909fa));
      margin-bottom: 20px;
    }
    .divButton1{
      position: relative;
      top:300px;
      left: 300px;
    }
    /* Styling for the fourth button when hovering over it */
    .button2:hover {
      color: whitesmoke;
      letter-spacing: 1.3px;
      box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
      transition: all .3s;
      
    }
    .divButton{
      position:relative;
      top:100px;
      padding-left: 30px;

    }

    .divSecond{
     
      align-items: center;
      padding-top:30px
 }
    h2.textGold{
     color: #D58300;
     padding-top: 30px;
    }
    h1.textSecond{
     font-size:45px
    }
    h4.textSecond{
     color:#7A7A7A;
     font-family: 'Roboto', sans-serif;
    }
    h3.textSecond{
     color:#7A7A7A;

    }

    img.img3{
     width: 548px;
     height: 365px;
     border-radius: 20px;
    }
    .divImg{
      padding:200px;
    }
    .animated {
      width: 600px;
      height: 400px;
      background: url("/src/assets/img3.png") no-repeat left center #ffffff;
      background-size: 80%;
      -webkit-animation: test 4s infinite; /* Chrome, Safari, Opera */
      animation: test 4s infinite;
  }
  /* Chrome, Safari, Opera */
  @-webkit-keyframes test {
      50% {background-position: right center;}
  }
  /* Standard syntax */
  @keyframes test {
      50% {background-position: right center;}
  }
    
    
 
  