   
   form {
     display: inline-block;
     background-color: #35415a;
     border-radius: 10vh;
     position: relative;
     top:-10vh;
     left: 60vh;
     
   }
   
   h1 {
     font-weight: 100;
     color: white;
     text-align: center;
     padding-bottom: 10px;
     border-bottom: 1px solid rgb(35, 11, 122);
   }
   
   .form {
     background: #0e101c;
     max-width: 400px;
     margin: 0 auto;
   }
   
   p.formsP {
     color: #bf1650;
   }
   
   p.formsP::before {
     display: inline;
     content: "⚠ ";
   }
   .containerInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   input {
     display: block;
     box-sizing: border-box;
     position: relative;
     border-radius: 5vh;
     border: 1px solid white;
     padding: 10px 20px;
     margin-bottom: 10px;
     font-size: 14px;
     width: 50%;
   }
   
   .containerTextForms {  
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     position: relative;
     
   }
   h2.textForms{
    color: #FFFFFF;
    font-family: "NEUSHARP", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 43px;
    padding: 5vh;
    text-align: center;
   }
   h3.textForms{
    color: #FF3C00;
    font-family: "Barlow", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 1.5px;
    position: relative;
    top: -4vh;
   }
   
   button[type="submit"],
   input[type="submit"] {
     background: #0b143f;
     color: white;
     text-transform: uppercase;
     border: none;
     margin-top: 40px;
     padding: 20px;
     font-size: 16px;
     font-weight: 100;
     letter-spacing: 5px;
     border-radius: 10vh;
   }
   
   button[type="submit"]:hover,
   input[type="submit"]:hover {
     background: #2441c2;
   }
   
   button[type="submit"]:active,
   input[type="button"]:active,
   input[type="submit"]:active {
     transition: 0.3s all;
     transform: translateY(3px);
     border: 1px solid transparent;
     opacity: 0.8;
   }
   
   input:disabled {
     opacity: 0.4;
   }
   
   input[type="button"]:hover {
     transition: 0.3s all;
   }
   
   button[type="submit"],
   input[type="button"],
   input[type="submit"] {
     -webkit-appearance: none;
   }
   
   .Form {
     max-width: 600px;
     margin: 0 auto;
   }
   
   button[type="button"] {
     display: block;
     appearance: none;
     background: #333;
     color: white;
     border: none;
     text-transform: uppercase; 
     padding: 10px 20px;
     border-radius: 4px;
   }
   
   pre {
     color: white;
   }
   
   hr {
     margin-top: 30px;
   }
   
   select{
      width: 50%;
      display: block;
     box-sizing: border-box;
     position: relative;
     border-radius: 4px;
     border: 1px solid white;
     padding: 10px 10px;
     margin-bottom: 10px;
     font-size: 14px;
     border-radius: 5vh;
   }
   button {
     display: block;
     appearance: none;
     margin-top: 40px;
     border: 1px solid #333;
     margin-bottom: 20px;
     text-transform: uppercase;
     padding: 10px 20px;
     border-radius: 4px;
   }
   